*{
  margin: 0;
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
  color:black;
}

body{
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
   
}

/*===============================================================header styles==================================================================*/
header{
  width:100%;
  padding-bottom: 250px;
  

}
.head-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:450px;
  background: linear-gradient(to bottom, #006666 0%, #009999 100%);
}

h1{
  padding-top: 200px;
  margin:50px;
  color:white;
  margin-bottom: 0px;
}

#head-para{
  color: rgb(219, 219, 219);
  font-size: 15px;
  text-align: center;
  margin-top:20px;
  margin-bottom: 10px;
}
#head-btn{
  margin-top:10px;
  background-color: rgb(58, 201, 58);
  padding:5px;
  border: none;
  color:white;
  border-radius: 5px;
}

/*===============================================================cards style==================================================================*/


.card{
  margin-top:100px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.card-content{

  background-color:aliceblue ;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-right:50px;
  width:325px;
  padding: 20px;
  padding-top: 0px;
  box-shadow: 3px 3px 10px rgb(196, 195, 195);
  
}

.card-content p{
  margin-top:10px;
  color: rgb(81, 80, 80);
  font-size: 12px;
  text-align: left;
}

#icon{
  font-size: 50px;
}
  </style>
